# editor temporaries
*~

# singularity build artifacts
*.sif

# sbcl build artifacts
*.bin
*.core

*.tgz

shapes/*/dist/

# os image build artifacts
/.build/
/dist/

# verification harness artifacts
verification/qemu/*.log
verification/qemu/install-work/
